<div class="player-page-container">
    <div class="header-container">
        <mat-icon class="back-arrow" routerLink="home">
            arrow_back
        </mat-icon>
    </div>

    <div class="players-title">Spieler</div>
    <div class="players">
        @for (player of players; track $index) {
        <div class="player content-and-button">
            <span>{{ player }}</span>
            <button mat-mini-fab color="white" (click)="removePlayer($index)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
    </div>

    <div class="footer-container">
        <div class="content-and-button">
            <input #playerInput type="text" placeholder="Spieler hinzufügen">
            <button mat-mini-fab color="white" (click)="addPlayer(playerInput)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button" [routerLink]="['../game']">
                Spiel starten
            </button>
        </div>
    </div>
</div>