.player-page-container {
    width: 100%;
    min-height: 100%;
    background-color: rgb(3, 152, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .header-container {
        width: 100%;
        display: flex;
        
        .back-arrow{
            padding: 0.8rem;
            transform: scale(1.2);
        }
    }

    .players-container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;

        .players-title {
            font-size: x-large;
            color: white;
        }

        .player {
            width: 100%;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 4fr 1fr;
        }
    }
}