<div class="player-page-container">
    <div class="header-container">
        <mat-icon 
            class="back-arrow"
            routerLink="home"
        >
            arrow_back
        </mat-icon>
    </div>
    <div class="players-container">
        <div class="players-title">Spieler</div>
        <div class="player">
            <p>Spielername</p>
            <button mat-mini-fab color="white">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div class="player">
            <input 
                type="text"
                placeholder="Spieler hinzufügen"
            >
            <button mat-mini-fab color="white">
                <mat-icon>arrow_up</mat-icon>
            </button>
        </div>
    </div>
</div>