<div class="player-page-container">
    <div class="header-container">
        <mat-icon 
            class="back-arrow"
            routerLink="home"
        >
            arrow_back
        </mat-icon>
    </div>
    <div class="players-container">
        <div class="players-title">Spieler</div>
        @for (player of players; track $index) {    
            <div class="player">
                <p>{{ player }}</p>
                <button 
                    mat-mini-fab 
                    color="white"
                    (click)="removePlayer($index)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        }
        <div class="player">
            <input
                #playerInput
                type="text"
                placeholder="Spieler hinzufügen"
            >
            <button 
                mat-mini-fab 
                color="white"
                (click)="addPlayer(playerInput)"
            >
                <mat-icon>arrow_upward</mat-icon>
            </button>
        </div>
    </div>
</div>