<div class="task-page-container">
    <div class="header-container">
        <mat-icon class="quit-icon" (click)="openDialog()">
            logout
        </mat-icon>
    </div>
    <div class="task-container">
        <div class="task">
            <div class="title">
                <h3>{{ task?.title ?? 'Error' }}</h3>
            </div>
            <div class="content">
                {{ task?.description ?? 'Etwas ist schiefgelaufen. Bitte lade die Seite neu.' }}
            </div>
        </div>
    </div>
    <div class="button-container">
        <button 
            mat-fab
            disabled="{{isFirstTask}}"
            class="button fab-button"
            (click)="getPreviousTask()"
        >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button 
            mat-flat-button 
            class="button"
            (click)="getNextTask()"
        >
            {{ isLastTask ? 'Spiel beenden' : 'Nächste Aufgabe'}}
        </button>
    </div>
</div>